<main>
    <header>
        @if (aceptado) {
            <img src="assets/kissing.gif" alt="Besitos de celebración" draggable="false">
        } @else {
            @if (ratioRespuestas >= 0) {
                @switch (ratioRespuestas) {
                    @case (0) {
                        <img src="assets/corazon base.png" alt="Corazón base" draggable="false" [ngStyle]="{'animation-duration': 3 + 's'}">
                    }
                    @case (1) {
                        <img src="assets/corazon base.png" alt="Corazón base" draggable="false" [ngStyle]="{'animation-duration': 2.5 + 's', 'filter': 'drop-shadow(red -1rem 0 ' + 10 + 'px)'}" class="iluminado">
                    }
                    @case (2) {
                        <img src="assets/corazon base.png" alt="Corazón base" draggable="false" [ngStyle]="{'animation-duration': 2.5 + 's', 'filter': 'drop-shadow(red -1rem 0 ' + 20 + 'px)'}" class="iluminado">
                    }
                    @case (3) {
                        <img src="assets/corazon base.png" alt="Corazón base" draggable="false" [ngStyle]="{'animation-duration': 2.5 + 's', 'filter': 'drop-shadow(red -1rem 0 ' + 30 + 'px)'}" class="iluminado">
                    }
                    @case (4) {
                        <img src="assets/corazon base.png" alt="Corazón base" draggable="false" [ngStyle]="{'animation-duration': 2 + 's', 'filter': 'drop-shadow(red -1rem 0 ' + 40 + 'px)'}" class="iluminado">
                    }
                    @case (5) {
                        <img src="assets/corazon base.png" alt="Corazón base" draggable="false" [ngStyle]="{'animation-duration': 2 + 's', 'filter': 'drop-shadow(red -1rem 0 ' + 50 + 'px)'}" class="iluminado">
                    }
                    @case (6) {
                        <img src="assets/corazon base.png" alt="Corazón base" draggable="false" [ngStyle]="{'animation-duration': 1.5 + 's', 'filter': 'drop-shadow(red -1rem 0 ' + 60 + 'px)'}" class="iluminado">
                    }
                    @case (7) {
                        <img src="assets/corazon base.png" alt="Corazón base" draggable="false" [ngStyle]="{'animation-duration': 1.5 + 's', 'filter': 'drop-shadow(red -1rem 0 ' + 70 + 'px)'}" class="iluminado">
                    }
                    @case (8) {
                        <img src="assets/corazon base.png" alt="Corazón base" draggable="false" [ngStyle]="{'animation-duration': 1 + 's', 'filter': 'drop-shadow(red -1rem 0 ' + 80 + 'px)'}" class="iluminado">
                    }
                    @default {
                        <img src="assets/corazon base.png" alt="Corazón base" draggable="false" [ngStyle]="{'animation-duration': .5 + 's', 'filter': 'drop-shadow(red -1rem 0 ' + 90 + 'px)'}" class="iluminado">
                    }
                }
            } @else {
                @switch (ratioRespuestas) {
                    @case (-1) {
                        <img src="assets/corazon roto 1.png" alt="Corazón roto 1" draggable="false" [ngStyle]="{'animation-duration': 2 + 's'}">
                    }
                    @case (-2) {
                        <img src="assets/corazon roto 2.png" alt="Corazón roto 2" draggable="false" [ngStyle]="{'animation-duration': 1.5 + 's'}">
                    }
                    @case (-3) {
                        <img src="assets/corazon roto 3.png" alt="Corazón roto 3" draggable="false" [ngStyle]="{'animation-duration': 1 + 's'}">
                    }
                    @case (-4) {
                        <img src="assets/corazon roto 4.png" alt="Corazón roto 4" draggable="false" [ngStyle]="{'animation-duration': .5 + 's'}">
                    }
                    @case (-5) {
                        <img src="assets/corazon roto 5.png" alt="Corazón roto 5" draggable="false" [ngStyle]="{'animation-duration': .25 + 's'}">
                    }
                    @default {
                        <img src="assets/corazon roto 6.png" alt="Corazón roto 5" draggable="false" [ngStyle]="{'animation-duration': .1 + 's'}">
                        <img class="estatico" src="assets/charco-sangre.png" alt="Charco de sangre" draggable="false">
                    }
                }
            }
        }
    </header>
        
        @if (quedanPreguntas()) {
            <h2>{{ preguntaActual().pregunta }}</h2>
            <section>
                @for (opcion of preguntaActual().opciones; track $index) {
                    <article (click)="elegirRespuesta(opcion, $event)">{{ opcion }}</article>
                }
            </section>
        } @else {
            @if (!aceptado) {
                @if (!rechazadoPrimeraVez) {
                    <p>{{ mensajeFinal() }}</p>
                }
                @if (ratioRespuestas >= -3 || rechazadoPrimeraVez) {
                    <h2>Entonces... ¿Quieres pasar San Valentín conmigo?</h2>
                    <section id="respuestaSanValentin" [ngClass]="{'quitar-columnas': desaparecer}">
                        <article><span (click)="aceptado = true" class="aceptar" [ngStyle]="{'font-size': fontSizeAceptar + 'px'}" [ngClass]="{'fullAceptar': desaparecer}">¡Sí!</span></article>
                        <article [ngClass]="{'desaparecer': desaparecer}"><span (click)="rechazar()" class="rechazar" [ngStyle]="{'font-size': fontSizeRechazar + 'px', 'top': top + '%', 'left': right + '%', 'min-width': minWidthRechazar}">¡No!</span></article>
                    </section>
                }
            } @else {
                <p>Entonces ¡Mándame un mensaje diciéndomelo y con tu resultado! 💞</p>
                <form [formGroup]="form" (submit)="enviarMensaje()">
                    <input type="text" formControlName="mensajeAEnviar">
                    @if (form.get('mensajeAEnviar')?.touched && form.invalid) {
                        <h4>Este campo debe ser rellenado con un mensaje a tu gusto para enviármelo</h4>
                    }
                    <button type="submit">Enviar</button>
                </form>
            }
        }
</main>